################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ejercicio1UD3/.vs/Ejercicio1UD3/FileContentIndex/45af4903-d06f-463f-9363-919cf8bec6df.vsidx
