################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Ejercicio1UD3/.vs/Ejercicio1UD3/FileContentIndex/45af4903-d06f-463f-9363-919cf8bec6df.vsidx
/Ejercicio1UD3/.vs/Ejercicio1UD3/FileContentIndex/54f37819-7fcb-4039-bdd0-169143874f89.vsidx
/Ejercicio1UD3/.vs/Ejercicio1UD3/FileContentIndex/f0f05f6f-9896-4779-903d-f049ff0cd477.vsidx
